PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://user:password@localhost:5432/real-time-polling-api?schema=public"

JWT_SECRET=real-time-poll-application-jwt-secret
COOKIE_NAME=real-time-poll-application-auth-cookie
